@mixin Error {
	div.error {
		background-color: var(--error-background-color);
		border: solid 1px var(--error-border-color);
		padding: 1.5rem;
		border-radius: 0.5rem;
		text-align: center;
		font-weight: bold;
	}
}
