@use "sass:math";

@mixin ToggleSwitch() {
	label.toggle.switch {
		$width: 3rem;
		$height: 1.5rem;
		$slider-diameter: 1rem;

		$slider-width: $slider-diameter;
		$slider-height: $slider-diameter;
		$margin: math.div((math.min($width, $height) - $slider-diameter), 2);
		$displacement: $width - $slider-height - $margin - $margin;

		position: relative;
		display: inline-block;
		width: $width;
		height: $height;

		&:not(.disabled) {
			cursor: pointer;

			&:hover {
				filter: saturate(1.5) contrast(1.1);
			}
		}

		&.disabled {
			>input+span {
				filter: brightness(0.7) grayscale(0.8) contrast(0.8);
			}
		}

		>input {
			display: none;

			&:checked+span {
				background-color: var(--toggle-button-enabled-background-color);

			}

			&:checked+span:before {
				transform: translateX($displacement);
			}
		}

		>span {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--toggle-button-disabled-background-color);
			transition: .4s;
			border-radius: 999px;

			&:before {
				position: absolute;
				content: "";
				height: $slider-height;
				width: $slider-width;
				left: $margin;
				bottom: $margin;
				background-color: var(--toggle-button-slider-color);
				transition: .4s;
				border-radius: 999px;
			}
		}
	}
}
