@use "sass:math";

@mixin ToggleArrow() {
	label.toggle.arrow {
		height: inherit;
		width: auto;

		img {
			height: 100%;
			width: auto;
		}

		&:not(.disabled) {
			cursor: pointer;
		}

		&.disabled {
			>input+span {
				filter: brightness(0.7) grayscale(0.8) contrast(0.8);
			}
		}

		>input {
			display: none;
		}
	}
}
