@use "./Card";
@use "../components/Error";
@use "../static/scss/utils/mobile";

@mixin App() {
	width: 80%;
	padding: 2rem 0;
	min-height: calc(100% - 4rem);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;

	>div:not(.error) {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		@include mobile.onMobile {
			padding: 0 1.5rem;
		}

		>label {
			display: none;
		}

		>a {
			>img {
				height: 100%;
				filter: contrast(0.5);
				@media all and (prefers-color-scheme: dark) {
					filter: invert(1) contrast(0.5);
				}
			}
		}

		>h1 {
			flex-grow: 1;
			margin: 0;
		}
	}

	@include mobile.onMobile {
		width: 100%;
		justify-content: center;
		gap: 1rem;
	}

	@include Error.Error();
	@include Card.Card();
}
