@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {}

:root {
	--page-bg: #121214;
	--button-bg: #222327;
	--button-hover: #38383D;
	--button-active: #28282c;
	--button-disabled: #3636361F;
	--card-input-bg: #222327;
	--word-hover: #3F3F46;
	--word-active: #28282c;
}
