@use "sass:color";
@use "../islands/App";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$cardTextInputColor: #00000020;

:root {
	--one: #16161d;
	--two: #28283e;
	--three: #3785b9;
	--four: #eeeeee;
	--five: #8d94a3;


	@media screen and (prefers-color-scheme: dark) {
		--background-color: var(--one);
		--text-color: var(--four);
		--toggle-button-enabled-background-color: var(--three);
		--toggle-button-disabled-background-color: var(--two);
		--toggle-button-slider-color: var(--four);
		--button-color: var(--two);
		--button-hover-color: var(--three);
		--card-text-input-color: #{$cardTextInputColor};
		--loading-skeleton-color: #{lighten($cardTextInputColor, 10%)};
		--loading-skeleton-color-lighter: #{lighten($cardTextInputColor, 30%)};
		--card-shadow: #000000;
	}

	@media screen and (prefers-color-scheme: light) {
		--background-color: var(--four);
		--text-color: var(--one);
		--toggle-button-enabled-background-color: var(--three);
		--toggle-button-disabled-background-color: var(--five);
		--toggle-button-slider-color: var(--four);
		--button-color: var(--five);
		--button-hover-color: var(--three);
		--card-text-input-color: #{$cardTextInputColor};
		--loading-skeleton-color: #{darken($cardTextInputColor, 10%)};
		--loading-skeleton-color-lighter: #{darken($cardTextInputColor, 30%)};
		--card-shadow: #00000080;
	}
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	>body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Roboto', sans-serif;
		background-color: var(--background-color);
		color: var(--text-color);

		>div.app {
			@include App.App();
		}
	}
}

.is-loading {
	background: linear-gradient(110deg, var(--loading-skeleton-color) 8%, var(--loading-skeleton-color-lighter) 18%, var(--loading-skeleton-color) 33%);
	background-size: 200% 100%;
	animation: 1.5s shine linear infinite;
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}
